.Modal-body--error {
  border: 2px solid #a70808;
  border-bottom: 0px;
}

.Modal-footer--error {
  border: 2px solid #a70808;
  border-top: 0px;
  border-radius: 0px;
}

.Modal-body--ok {
  border: 2px solid #1b7d20;
  border-bottom: 0px;
}

.Modal-footer--ok {
  border: 2px solid #1b7d20;
  border-top: 0px;
  border-radius: 0px;
}
